@import "materialize-colors";

body {
  width: 100%;
  margin: 0 auto;
  font-family: 'BYekan', Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
  // direction: rtl;
  background: #fffdef;
}

#aweso {
  font-family: 'BYekan';
  direction: rtl;
  width: 300px;
}
.awesomplete {
  direction: rtl;
}

#tree-container {
  direction: rtl;
  background: white;
  border: 1px solid #e3e3e3;
  width: 380px;
  height: 290px;
  overflow: auto;
  float: right;
}

.ms-container {
  float: left;
}

.btn {
  position: absolute;
  width:24px;
  height:24px;
}
.grey {
  color: grey;
}