<div class="uk-grid-collapse uk-child-width-1-2" uk-grid>
  <div>
    <input type='text' data-el="colorpick1" data-els="colorpicks" />
    <input type='text' data-el="colorpick2" data-els="colorpicks" />
    <input type='text' data-el="colorpick3" data-els="colorpicks" />
    <input type='text' data-el="colorpick4" data-els="colorpicks" />
    
    <label><input type="checkbox" class="uk-checkbox uk-margin-small-left" data-el="guides" /> Guides</label>
  </div>
  <div>
    <div>
      <label><input type="radio" class="uk-radio" name="direction" value="0" checked data-els="direction" /> High</label>
    </div>
    <div>
      <label><input type="radio" class="uk-radio" name="direction" value="1" data-els="direction" /> Low</label>
    </div>
  </div>
</div>

<div class="uk-width-1-1 uk-child-width-1-2" uk-grid>
  <div>
    <div class="uk-grid-collapse uk-child-width-1-2 uk-margin-small" uk-grid>
      <div>
        <label class="uk-form-label" for="period-input">Period:</label>
      </div>
      
      <div>
        <input id="period-input" type="number" class="uk-input uk-form-small" style="width:60px" min="3" max="999" value="3" step="2" data-el="period" />
        <label class="uk-form-label" for="period-input">days.</label>
      </div>
      
      <div>
        <label class="uk-form-label" for="distance-input">Center to edge distance:</label>
      </div>
      
      <div>
        <input id="distance-input" type="number" class="uk-input uk-form-small" style="width:60px" min="0" max="100" value="1" data-el="distance" />
        <label class="uk-form-label"><input type="checkbox" class="uk-checkbox" data-el="distancePercent" />%</label>
      </div>
      
      <div>
        <label class="uk-form-label"><input type="checkbox" class="uk-checkbox" data-el="count" /> Count in-ranges by:</label>
      </div>
      
      <div>
        <input id="count-distance-input" type="number" class="uk-input uk-form-small" style="width:60px" value="1" data-el="countDistance" />
        <label class="uk-form-label"><input type="checkbox" class="uk-checkbox" data-el="countDistancePercent" />%</label>
      </div>
    </div>
  </div>
  
  <div>
    <select class="uk-select uk-form-small uk-padding-remove" multiple data-el="countList"></select>
  </div>
</div
