<!DOCTYPE html>
<html lang="en"> <!-- en en-US -->
<head>
	<title>{{title}}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1.0" />
	<link rel="icon" type="image/x-icon" href="favicon.ico" />
	<link rel="stylesheet" type="text/css" href="lib/multiselect/css/multi-select.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>

<select id="select" name="cars" multiple="multiple"></select>
	{{{body}}}
	
	<script src="lib/base64.js"></script>
	<script src="lib/utf8.js"></script>
	<script src="lib/jalaali.js"></script>
	
	<script src="lib/jquery.min.js"></script>
	<script src="lib/multiselect/js/jquery.multi-select.js"></script>
	
	<script src="lib/tradingview/charting_library/charting_library.js"></script>
	<script src="lib/tradingview/datafeeds/udf/dist/polyfills.js"></script>
	<script src="lib/tradingview/datafeeds/udf/dist/bundle.js"></script>
	
	<script src="js/util.js"></script>
	<script src="js/main.tv.js"></script>
</body>
</html>