<!DOCTYPE html>
<html lang="en"> <!-- en en-US -->
<head>
	<title>{{title}}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1.0" />
	<link rel="icon" type="image/x-icon" href="favicon.ico" />
	
	<!-- techan -->
	<link rel="stylesheet" type="text/css" href="css/basic.css" />
	<!-- <link rel="stylesheet" type="text/css" href="css/complete.css" /> -->
	
	<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
	
	{{{body}}}
	
	<script type="text/javascript" src="lib/jquery.min.js"></script>
	<script type="text/javascript" src="lib/jalaali.js"></script>
	
	<!-- techan -->
	<script type="text/javascript" src="lib/d3.v4.min.js"></script>
	<script type="text/javascript" src="lib/techan.min.js"></script>
	
	<!-- tradingview -->
<!-- <script type="text/javascript" src="lib/tradingview/charting_library/charting_library.js"></script>
	<script type="text/javascript" src="lib/tradingview/datafeeds/udf/dist/polyfills.js"></script>
	<script type="text/javascript" src="lib/tradingview/datafeeds/udf/dist/bundle.js"></script>
	<script type="text/javascript" src="js/main.tv.js"></script>
-->
	
	<script type="text/javascript" src="js/main2.js"></script>
</body>
</html>