<input type='text' data-el="colorpick1" />

<div class="uk-grid-collapse uk-child-width-1-3 uk-width-1-2 uk-margin-small" uk-grid>
  <div>
    <label class="uk-form-label" for="period-input">Period:</label>
  </div>
  
  <div>
    <input id="period-input" type="number" class="uk-input uk-form-small" style="width:60px" min="3" max="999" value="3" step="2" data-el="period" />
    <label class="uk-form-label" for="period-input">days.</label>
  </div>
  
  <div>
    <input id="guide-input" type="checkbox" class="uk-checkbox" data-el="guide" />
    <label for="guide-input">Guides</label>
  </div>
  
  <div>
    <label class="uk-form-label" for="distance-input">Distance:</label>
  </div>
  
  <div>
    <input id="distance-input" type="number" class="uk-input uk-form-small" style="width:60px" min="0" max="100" value="0" data-el="distance" />
    <label class="uk-form-label" for="distance-input">%</label>
  </div>
</div
