<!DOCTYPE html>
<html lang="en"> <!-- en en-US -->
<head>
	{{{ link-modulepreload }}}
	<title>Stosis</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1.0" />
	<link rel="icon" type="image/x-icon" href="favicon.ico" />
	{{{ link-stylesheet }}}
</head>
<body>
	<button id="draw-btn" class="uk-button">Draw</button>
	<button id="clear-btn" class="uk-button">Clear</button>
	<select id="pattern" class="uk-select uk-width-1-6" name="pattern">
		<option value="0">supp & resist 1</option>
		<option value="1">supp & resist 2</option>
		<option value="2">supp & resist 3</option>
	</select>
	<button id="zoomout-btn" class="uk-button">Zoom out</button>
	
	<div id="tv_chart_container"></div>
	
	<select id="select" name="cars" multiple="multiple"></select>
	
	<input id="aweso" />
	
	<div id="tree-container"></div>

	{{{ script-lib }}}

	{{{ script-app }}}
</body>
</html>